<%#= @comments.each do |c| %>
<%#= c.comment_user %>
<%# end %>

<h1>Comments</h1>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li><%= comment.comment_user %></li>
  <% end %>
</ul>

<h2>New Comment</h2>
<% form_for [@commentable, Comment.new] do |form| %>
  <ol class="formList">
    <li>
      <%= form.label :comment_user %>
      <%= form.text_area :comment_user, :rows => 5 %>
    </li>
    <li><%= submit_tag "Add comment" %></li>
  </ol>
<% end %>