<div class="header">
  <div class-"col-xs-12 col-sm-12">
    <div class="container">
      <div class="col-xs-6 col-sm-3 p-l-0">
        <div class="logo-holder">
          <a href="<%= root_path %>">
            <img src="/assets/logo.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-9 right-holder p-r-0">
        <div class="col-xs-12 col-sm-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">Go!</button>
             </span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 welcome-holder text-right">
          <div class="welcome-text">Hey, <span><a href="#"><%= current_user.name %></a> <%= link_to "", destroy_user_session_path, method: :delete, class: "logout glyphicon glyphicon-off"  %></span></div>
        </div>
        <!-- <a class="logout glyphicon glyphicon-off" href="<%= destroy_user_session_path %>" title="logout"></a> -->
       
      </div>
    </div>
  </div>
</div>